.post-list {
  .post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 1rem;
      cursor: pointer;
      flex-basis: 14%;

      @media only screen and (max-width: 1350px) {
        flex-basis: 23%;
      }

      @media only screen and (max-width: 950px) {
        flex-basis: 29%;
      }

      @media only screen and (max-width: 700px) {
        flex-basis: 40%;
      }

      @media only screen and (max-width: 600px) {
        flex-basis: 80%;
      }

      .card-image {
        min-height: 200px;

        img {
          min-height: 250px;
        }
      }

      .card-title {
        font-size: 1.1rem;
        background: rgba(51, 51, 51, 0.5);
        width: 100%;
        font-weight: bold;

        @media only screen and (max-width: 700px) {
          font-size: 1.3rem;
        }

        @media only screen and (max-width: 600px) {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.user-post-list {
  padding: 1rem;

  .post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 1rem;
      cursor: pointer;
      flex-basis: 18%;

      @media only screen and (max-width: 1350px) {
        flex-basis: 23%;
      }

      @media only screen and (max-width: 950px) {
        flex-basis: 29%;
      }

      @media only screen and (max-width: 700px) {
        flex-basis: 40%;
      }

      @media only screen and (max-width: 600px) {
        flex-basis: 80%;
      }

      .card-image {
        min-height: 200px;

        img {
          min-height: 250px;
        }
      }

      .card-title {
        font-size: 1.1rem;
        background: rgba(51, 51, 51, 0.5);
        width: 100%;
        font-weight: bold;

        @media only screen and (max-width: 700px) {
          font-size: 1.3rem;
        }

        @media only screen and (max-width: 600px) {
          font-size: 1.8rem;
        }
      }
    }
  }
}